APP_NAME=Despliegue Analytics
PORT_ANALYTICS=4121
DB_USER=USUARIO
DB_HOST=SERVIDOR
DB_NAME=DB_NAME
DB_DATABASE=DATABASE
DB_PASSWORD=PASSWORD
DB_PORT=PORT
JWT_SECRET=SECRET
ALLOWED_ORIGINS=ORIGNES PERMITIDOS SEPARADOS POR COMA
