APP_NAME=Despliegue de Brigadas de Atención al Adulto Mayor
PORT=PUERTO DE APLICACION
DB_USER=USUARIO_BD
DB_HOST=SERVIDOR_BD
DB_NAME=NOMBRE_BD
DB_DATABASE=BASE DE DATOS
DB_PASSWORD=CLAVE_BD
DB_PORT=PUERTO_BD
JWT_SECRET=SECRET
# Configuración de correo SMTP
EMAIL_HOST=correo.correo.com
EMAIL_PORT=587
EMAIL_SECURE=false

EMAIL_USER=correo@correo.com
EMAIL_PASS=clave
EMAIL_FROM=correo@correo.com

EMAIL_LOGO_PATH=../front/public/img/logo-nobg3.png
ADMIN_CONTACT_EMAIL=correo@correo.com
ALLOWED_ORIGINS=ORIGENES PERMITIDOS SEPARADOS POR COMAS (PE http://localhost:9111,http://localhost:4111)
PORT_BACK=PUERTO DE BACKEND
