# PROTEGIDAS (Auth API)
VITE_LOGIN_URL=URL DE LOGIN
VITE_LOGOUT_URL=URL DE LOGOUT
VITE_AUTH_API_URL=URL DE LA API DE AUTENTICACION
VITE_WS_URL=URL DEL WEB SOCKET
VITE_ANALYTICS_API_URL=URL DEL SERVICIO ANÁLITICO DE GraphQL